/* place it to ~/.mozilla/firefox/???.default/chrome/ */

/* about: config settings
 * toolkit.cosmeticAnimations.enabled    false
 *
 *  Disable pocket
 * extensios.pocket.enabled     false
 *
 *  Allow extensions work on more pages
 * privacy.resistFingerprinting.block_mozAddonManager   true
 * extensions.webextensions.restrictedDomains   *empty*
 *
 *  Change blank page background color
 * #1d1d1d
 */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* Hide close tab buttons */
#tabbrowser-tabs .tabbrowser-tab .tab-close-button { display:none!important; }

/* Hide back, forward buttons */
#back-button, #forward-button { display: none !important; }

/* Change background color */
/*.browserContainer {*/
    /*background-color: #1d1d1d !important;*/
/*}*/


/* Hide tab bar, navigation bar and scrollbars */
#TabsToolbar {visibility: collapse;}
/*#navigator-toolbox {visibility: collapse;}*/
